* {
  box-sizing: border-box;
}
/* === Task 1 === */

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0 auto 30px;

  border: 1px solid grey;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar {
  display: block;
  width: 300px;
  height: auto;
}
.stats {
  display: flex;
  list-style: none;
  gap: 16px;
  padding: 0;
}
.label {
  margin-right: 4px;
}

/* === Task 2 === */

.statistics {
  width: 350px;
  margin: 0 auto 30px;
  border: 1px solid grey;
}
.title {
  text-align: center;
}
.stat-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0;
}

.percentage {
}

/* === task 3 === */

.friend-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;

  padding: 0;

  width: 300px;
  margin: 0 auto 30px;
  border: 1px solid grey;
}
.friend-list .item {
  padding-left: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;

  gap: 8px;
}
.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
}
.status.red {
  background-color: red;
}
.name {
  font-size: 16px;
}
.friend-list .avatar {
  width: 80px;
}

/* === task 4 === */

.transaction-history {
  width: 50%;
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px solid grey;
}

.transaction-history th,
.transaction-history td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.transaction-history th {
  background-color: #dcbff8;
  font-weight: bold;
}

.transaction-history tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.transaction-history tbody tr:hover {
  background-color: #e6e6e6;
}

.transaction-history td:first-child {
  border-left: none;
}

.transaction-history td:last-child {
  border-right: none;
}
